body{
    
}
.calc-container {
    position: absolute;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    height: 668px;
    width: 820px;
    border-radius: 20px;
}
#ansblock{
    width: 800px;
    height: 80px;
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.container{
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 820px;
    height: 500px;

}

.inputButton{
       border: 1px solid black;
    height: 100px;
    width: 200px;
    font-size: 100px;
    background-color: orange;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
